 html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Raleway", Helvetica, Arial, sans-serif;
   color:#262f39;
 }
 h1, h2, h3 {
   text-align: center;
   font-family: "Raleway", Helvetica, Arial, sans-serif;
 }
 h1 {
   font-size:48px;
   font-weight: bold;
   margin-bottom: 5px;
   color:d15a14;
 }
  h2 {
   font-size:36px;
   font-weight: bold;
   margin-bottom: 5px;
   color:d15a14;
 }
  h1 {
   font-size:24px;
   font-weight: bold;
   margin-bottom: 5px;
   color:d15a14;
 }
 p {
   text-align: center;
   font-size:18px;
   line-height: 19px;
   font-weight: 300;
 }
  p class="header" {
   font-size:14px;
   font-weight: 700;
 }
   p class="emphasis" {
   font-size:16px;
   font-weight: 700;
 }
   p class="biline" {
   font-size:14px;
   font-weight: 300;
 }
   p class="refname" {
   font-style: italic;
   font-size:16px;
   font-weight: 300;
 }
   p class="refquote" {
   font-style: italic;
   font-size:18px;
 }
    p class="postdate" {
   font-style: italic;
   font-size:10px;
 } 
   p class="post" {
     font-size:14px;

   p class="more" {
   font-style: italic;
   font-size:14px;
   font-color:0932e3;
}
